/*----------------navbar and Food,LLC---------------------*/

.navbar{
	border-radius: 0;
	
}
.navbar-brand{
	padding:15px 15px 15px;
	height:55px;
}

.navbar-brand h1{
	color:#6221f1;
	font-size: 30px;
	margin:0px 10px 0;
	line-height: 0.7;
}

.navbar-brand a{
	text-decoration: none;
}

/*----------------------collapsable menu-------------------------*/

.navbar-default .navbar-toggle{
	border:2px solid #6221f1;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #6221f1;
}

#menu-title{
	margin-top:15px;
	margin-bottom:30px;
}

#collapse-menu-list li{
	font-size:1.2em;
}

#collapse-menu-list li a{
	color:#6221f1;
}

#collapse-menu-list li a:hover{
	background-color: #6221f1;
	color:white;
}

.navbar-default, .navbar-default .navbar-collapse{
	border:0;
	background-color:yellow;
}


/*--------------------------long text content------------------------*/
.col-xs-12 section{
    background-color:aquamarine;
	padding:10px 20px 20px;
	border:2px solid darkblue;
	border-radius:4px;
	margin-bottom:30px;
}

#long-text h3{
	text-align: center;
	margin-top:10px;
	margin-bottom:20px;
}


@media (max-width:767px){
	#long-text{
	margin:30px;
}
}