body{
      font-size:40px;
      color:#fff;
      background-color:#61122f;
      font-family:oxygen;
}

#header-nav{
      background-color:#f6b319;
      border-radius:0;
      border:0;
}
#logo-img{
      background: url("../images/restaurant-logo_large.png");
      height:150px;
      width:150px;
      margin:15px 10px 15px 0px;
}