body{
      font-size:16px;
      color:#fff;
      background-color:#61122f;
      font-family:'oxygen';
}

#header-nav{
      background-color:#f6b319;
      border-radius:0;
      border:0;
}
#logo-img{
      background: url("../images/restaurant-logo_large.png") no-repeat;
      height:150px;
      width:150px;
      margin:15px 10px 15px 0px;
}

.navbar-brand {
      padding:25px;
}

.navbar-brand h1{
      font-size: 1.5em;
      font-family:lora,serif;
      text-transform:uppercase;
      color:#557c3e;
      font-weight:bold;
      text-shadow:1px 1px 1px #222;
      margin-top:0;
      margin-bottom:0;
      line-height:0.75;   
}

.navbar-brand a:hover, .navbar-brand a:focus{
      text-decoration: none;
}

.navbar-brand p{
      color:#000;
      text-transform:uppercase;
      margin-top:10px;
      font-size: 0.7em;
}

.navbar-brand p span {
      vertical-align: middle;
}

#nav-list{
    margin-top:10px;  
}

#nav-list a{
      color:#951c49;
      text-align: center;
}

#nav-list a span{
   font-size: 1.6em;      
}

#nav-list a:hover{
      background: #E7E7E7; 
}

#phone{
      margin-top:5px;
}

#phone a{
      text-align: right;
      padding-bottom:0px;
}

#phone div{
      color:#557c3e;
      text-align:right;
      padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
      border: 1px solid #61122f
}

.navbar-header button.navbar-toggle{
      clear:both;
      margin-top:-30px;
}

#call-btn{
     background-color:#f6b319;
      margin:10px 10px 0px;
      border-radius:5px;
      text-align: center;
      padding:7px;
}

#call-btn a span{
      font-size:1.8em;
      color:#61122f;
      margin-right:5px;
      
}
/*------------------large devices-----------------*/
@media (min-width:1200px){
     .container .jumbotron{
            background: url(../images/jumbotron_1200.jpg) no-repeat;
            height:675px;
            box-shadow: 0 0 50px #3F0C1F;
            border:2px solid #3F0C1F;
      }
}
/*------------------medium devices-----------------*/
@media (min-width:992px) and (max-width:1199px){
  #logo-img{
     background: url("../images/restaurant-logo_medium.png") no-repeat;
     height:100px;
     width:100px;
     margin:5px 5px 5px 0px;
   }
      
   .container .jumbotron{
            background: url(../images/jumbotron_992.jpg) no-repeat;
            height:558px;
            box-shadow: 0 0 50px #3F0C1F;
            border:2px solid #3F0C1F;
      }
}
/*------------------small devices-----------------*/
@media (min-width:768px) and (max-width:991px){
      .container .jumbotron{
            background: url(../images/jumbotron_768.jpg) no-repeat;
            height:432px;
            box-shadow: 0 0 50px #3F0C1F;
            border:2px solid #3F0C1F;
      }
}
/*------------------extra small devices-----------------*/
@media (max-width:767px){
      .navbar-brand{
            padding-top: 10px;
            height:80px;
      }   
      
      .navbar-brand h1{
            padding-top:10px;
           font-size: 5vw; /* 1vw = 1% of view port width */
      }
      
     .navbar-brand p{ /* KOSHER CERTIFIED */
            font-size: 0.6em;
      }
      
      .navbar-brand p img {/* K-star */
            height:20px;
      }
      
      #collapsable-nav a{
            font-size:1.2em;
      }
      
      #collapsable-nav a span{
            font-size:1em;
            margin-right:5px; 
      }
      
      .container .jumbotron{
            margin-top:30px;
            padding:0;
            box-shadow: 0 0 50px #3F0C1F;
            border:2px solid #3F0C1F;
      }
}













